In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
### You need to find following details:
#### A) Rank
#### B) Name
#### C) Artist
#### D) Upload date
#### E) Views

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [3]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [4]:

data = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//td")
column_data = []  
for i in data:
    column_data.append(i.text.replace('',''))

In [5]:
column_data

['1.',
 '"Baby Shark Dance"[4]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '11.74',
 'June 17, 2016',
 '[A]',
 '2.',
 '"Despacito"[7]',
 'Luis Fonsi',
 '8.01',
 'January 12, 2017',
 '[B]',
 '3.',
 '"Johny Johny Yes Papa"[14]',
 'LooLoo Kids',
 '6.53',
 'October 8, 2016',
 '[C]',
 '4.',
 '"Shape of You"[15]',
 'Ed Sheeran',
 '5.85',
 'January 30, 2017',
 '[D]',
 '5.',
 '"Bath Song"[17]',
 'Cocomelon – Nursery Rhymes',
 '5.77',
 'May 2, 2018',
 '[E]',
 '6.',
 '"See You Again"[18]',
 'Wiz Khalifa',
 '5.70',
 'April 6, 2015',
 '[F]',
 '7.',
 '"Phonics Song with Two Words"[23]',
 'ChuChu TV',
 '5.02',
 'March 6, 2014',
 '[G]',
 '8.',
 '"Uptown Funk"[24]',
 'Mark Ronson',
 '4.76',
 'November 19, 2014',
 '[H]',
 '9.',
 '"Learning Colors – Colorful Eggs on a Farm"[25]',
 'Miroshka TV',
 '4.73',
 'February 27, 2018',
 '[I]',
 '10.',
 '"Wheels on the Bus"[26]',
 'Cocomelon – Nursery Rhymes',
 '4.63',
 'May 24, 2018',
 '',
 '11.',
 '"Gangnam Style"[27]',
 'Psy',
 '4.61',
 'July 15, 2012',
 '[J]',
 '12.',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 'Get Movies',
 '4.51',
 'January 31, 2012',
 '[K]',
 '13.',
 '"Dame Tu Cosita"[33]',
 'El Chombo',
 '4.14',
 'April 5, 2018',
 '',
 '14.',
 '"Sugar"[34]',
 'Maroon 5',
 '3.78',
 'January 14, 2015',
 '',
 '15.',
 '"Roar"[35]',
 'Katy Perry',
 '3.69',
 'September 5, 2013',
 '',
 '16.',
 '"Counting Stars"[36]',
 'OneRepublic',
 '3.68',
 'May 31, 2013',
 '',
 '17.',
 '"Axel F"[37]',
 'Crazy Frog',
 '3.61',
 'June 16, 2009',
 '',
 '18.',
 '"Sorry"[38]',
 'Justin Bieber',
 '3.61',
 'October 22, 2015',
 '',
 '19.',
 '"Thinking Out Loud"[39]',
 'Ed Sheeran',
 '3.52',
 'October 7, 2014',
 '',
 '20.',
 '"Baa Baa Black Sheep"[40]',
 'Cocomelon – Nursery Rhymes',
 '3.43',
 'June 25, 2018',
 '',
 '21.',
 '"Dark Horse"[41]',
 'Katy Perry',
 '3.40',
 'February 20, 2014',
 '',
 '22.',
 '"Faded"[42]',
 'Alan Walker',
 '3.37',
 'December 3, 2015',
 '',
 '23.',
 '"Girls Like You"[43]',
 'Maroon 5',
 '3.35',
 'May 31, 2018',
 '',
 '24.',
 '"Let Her Go"[44]',
 'Passenger',
 '3.34',
 'July 25, 2012',
 '',
 '25.',
 '"Waka Waka (This Time for Africa)"[45]',
 'Shakira',
 '3.31',
 'June 4, 2010',
 '',
 '26.',
 '"Perfect"[46]',
 'Ed Sheeran',
 '3.30',
 'November 9, 2017',
 '',
 '27.',
 '"Bailando"[47]',
 'Enrique Iglesias',
 '3.30',
 'April 11, 2014',
 '',
 '28.',
 '"Lean On"[48]',
 'Major Lazer',
 '3.29',
 'March 22, 2015',
 '',
 '29.',
 '"Humpty the train on a fruits ride"[49]',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 '3.23',
 'January 26, 2018',
 '',
 '30.',
 '"Shake It Off"[50]',
 'Taylor Swift',
 '3.23',
 'August 18, 2014',
 '',
 '"Baby Shark Dance"[4]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '1600',
 '761',
 '',
 '',
 '',
 '"Despacito"[7]',
 'Luis Fonsi',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '206',
 '1,186',
 '',
 '[62]',
 '[B]',
 '"See You Again"[18]',
 'Wiz Khalifa',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '826',
 '25',
 '',
 '[19]',
 '',
 '"Gangnam Style"⁂[27]',
 'Psy',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '134',
 '1,689',
 '',
 '[28]',
 '[J]',
 '"Baby"*[63]',
 'Justin Bieber',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '149',
 '862',
 '',
 '[64]',
 '[L]',
 '"Bad Romance"[67]',
 'Lady Gaga',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '143',
 '93',
 '',
 '[68]',
 '[M]',
 '"Charlie Bit My Finger"‡[71]',
 'HDCYT',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '887',
 '171',
 'late July 2021[72]',
 '[73]',
 '',
 '"Evolution of Dance"[74]',
 'Judson Laipply',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '1062',
 '176',
 '',
 '[75]',
 '',
 '"Girlfriend"‡[76][77]',
 'RCA Records',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '508',
 '289',
 'no data',
 '[78]',
 '[N]',
 '"Evolution of Dance"[74]',
 'Judson Laipply',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '651',
 '124',
 '',
 '[80]',
 '',
 '"Music Is My Hot Hot Sex"‡[81]',
 'CLARUSBARTEL72',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '327',
 '14',
 'mid-2008[82]',
 '[83]',
 '[O]',
 '"Evolution of Dance"*[74]',
 'Judson Laipply',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '16',
 '652',
 '',
 '[86]',
 '[P]',
 '"Pokémon Theme Music Video"‡[87]',
 'Smosh',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '105',
 '68',
 'June 2007[88]',
 '[89]',
 '[Q]',
 '"Myspace – The Movie"‡[92][93]',
 'eggtea',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '18',
 '22',
 'mid-2006[94]',
 '[95]',
 '',
 '"Phony Photo Booth"‡[96]',
 'mugenized',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '50',
 '28',
 'no data',
 '[97]',
 '[R]',
 '"The Chronic of Narnia Rap"‡[98]',
 'youtubedude',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '22',
 '12',
 'no data',
 '[99]',
 '',
 '"Ronaldinho: Touch of Gold"‡*[100]',
 'Nikesoccer',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '10',
 '70',
 'no data',
 '[101]',
 '[S]',
 '"I/O Brush"‡*[103]',
 'larfus',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '24',
 '2',
 'no data',
 '[104]',
 '',
 '"Me at the zoo"[105]',
 'jawed',
 '1',
 'April 23, 2005',
 'April 23, 2005',
 '0',
 '189',
 '',
 '[106]',
 '']

In [6]:
for i in column_data[0::6]:
    rank.append(i.replace(".",""))
    
rank=rank[:30]

In [7]:
for i in column_data[1: :6]:
    name.append(i.replace('"', ''))
    
name=name[:30]

In [8]:
for i in column_data[2: :6]:
    artist.append(i.replace('"', ''))
    
artist=artist[:30]

In [9]:
for i in column_data[4: :6]:
    upload_date.append(i.replace('"', ''))
    
upload_date=upload_date[:30]

In [10]:
for i in column_data[3: :6]:
    views.append(i.replace('"', ''))

views=views[:30]

In [11]:
df_dict = {"Rank":rank,
          "Name":name,
          "Artist":artist,
          "Upload Date":upload_date,
          "Views":views}

yt_videos = pd.DataFrame(df_dict)

yt_videos

,Rank,Name,Artist,Upload Date,Views
0,1,Baby Shark Dance[4],Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2,Despacito[7],Luis Fonsi,"January 12, 2017",8.01
2,3,Johny Johny Yes Papa[14],LooLoo Kids,"October 8, 2016",6.53
3,4,Shape of You[15],Ed Sheeran,"January 30, 2017",5.85
4,5,Bath Song[17],Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6,See You Again[18],Wiz Khalifa,"April 6, 2015",5.70
6,7,Phonics Song with Two Words[23],ChuChu TV,"March 6, 2014",5.02
7,8,Uptown Funk[24],Mark Ronson,"November 19, 2014",4.76
8,9,Learning Colors – Colorful Eggs on a Farm[25],Miroshka TV,"February 27, 2018",4.73
9,10,Wheels on the Bus[26],Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11,Gangnam Style[27],Psy,"July 15, 2012",4.61
11,12,Masha and the Bear – Recipe for Disaster[32],Get Movies,"January 31, 2012",4.51
12,13,Dame Tu Cosita[33],El Chombo,"April 5, 2018",4.14
13,14,Sugar[34],Maroon 5,"January 14, 2015",3.78
14,15,Roar[35],Katy Perry,"September 5, 2013",3.69
15,16,Counting Stars[36],OneRepublic,"May 31, 2013",3.68
16,17,Axel F[37],Crazy Frog,"June 16, 2009",3.61
17,18,Sorry[38],Justin Bieber,"October 22, 2015",3.61
18,19,Thinking Out Loud[39],Ed Sheeran,"October 7, 2014",3.52
19,20,Baa Baa Black Sheep[40],Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21,Dark Horse[41],Katy Perry,"February 20, 2014",3.40
21,22,Faded[42],Alan Walker,"December 3, 2015",3.37
22,23,Girls Like You[43],Maroon 5,"May 31, 2018",3.35
23,24,Let Her Go[44],Passenger,"July 25, 2012",3.34
24,25,Waka Waka (This Time for Africa)[45],Shakira,"June 4, 2010",3.31
25,26,Perfect[46],Ed Sheeran,"November 9, 2017",3.30
26,27,Bailando[47],Enrique Iglesias,"April 11, 2014",3.30
27,28,Lean On[48],Major Lazer,"March 22, 2015",3.29
28,29,Humpty the train on a fruits ride[49],Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30,Shake It Off[50],Taylor Swift,"August 18, 2014",3.23

In [12]:
driver.close()

### Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.
#### You need to find following details:
#### A) Match title (I.e. 1st ODI)
#### B) Series
#### C) Place
#### D) Date
#### E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [18]:
driver= webdriver.Chrome(r"chromedriver.exe")

url = 'https://www.bcci.tv/'
driver.get(url)

In [19]:
#menu button click
menu_button = driver.find_element(By.XPATH,"/html/body/nav/div[1]/button")
menu_button.click()
time.sleep(5)

In [20]:
#int button click
int_button = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
int_button.click()
time.sleep(5)

In [22]:
#format button click
format_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]")
format_button.click()
time.sleep(5)

In [23]:
#selecting format button click
format_select_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]")
format_select_button.click()
time.sleep(5)

In [25]:
series =[]
series_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tag:
    series.append(i.text)
    
len(series)

8

In [26]:
place=[]
place_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place_tag:
    place.append(i.text)
    
len(place)

8

In [27]:
date=[]
date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
    
len(date)

8

In [28]:
time=[]
time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    time.append(i.text)
    
len(time)

8

In [29]:
match_data={'series':series,
           'place':place,
           'date':date,
           'time':time}

In [30]:
match_df = pd.DataFrame(match_data)
match_df

,series,place,date,time
0,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"3rd ODI - Zahur Ahmed Chowdhury Stadium, Chatt...",10 DEC 2022,11:30 AM IST
1,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
2,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"2nd ODI - Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"3rd ODI - Greenfield International Stadium, Th...",15 JAN 2023,1:30 PM IST
4,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Rajiv Gandhi International Stadium, ...",18 JAN 2023,1:30 PM IST
5,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,2nd ODI - Shaheed Veer Narayan Singh Internati...,21 JAN 2023,1:30 PM IST
6,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"3rd ODI - Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST
7,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST

In [31]:
driver.close()

### 3- Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/You need to find following details:
#### A) Name
#### B) Description

In [36]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.guru99.com/'
driver.get(url)
#the url will open

In [37]:
#serch button click
selenium_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
selenium_button.click()

In [38]:
#serch button click
tutorial_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong")
tutorial_button.click()

In [41]:
#extract the tag having Name
name_des = driver.find_elements(By.TAG_NAME,"p")

data = []
for i in name_des:
    data.append(i.text)
    
data

['An exception is an error that happens at the time of execution of a program. However, while running a program, programming languages generates an exception that should be handled to avoid your program to crash.',
 'The exception indicates that, although the event can occur, this type of event happens infrequently. When the method is not able to handle the Exception, it is thrown to its caller function.',
 '1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 '3. NoSuchElementException: This Exception occurs if an element could not be found.',
 '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.',
 '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.',
 '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.',
 '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.',
 '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.',
 '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.',
 '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.',
 '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.',
 '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.',
 '17. ImeNotAvailableException: It takes place when IME support is unavailable.',
 '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.',
 '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.',
 '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.',
 '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.',
 '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.',
 '25. JavascriptException: This issue occurs while executing JavaScript given by the user.',
 '26. JsonException: It occurs when you afford to get the session when the session is not created.',
 '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.',
 '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 '29. NoSuchContextException: ContextAware does mobile device testing.',
 '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 '33. ScreenshotException: It is not possible to capture a screen.',
 '34. SessionNotCreatedException: It happens when a new session could not be successfully created.',
 '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.',
 '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.',
 '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.',
 '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.',
 'Here, are some important standard using which you can handle Exceptions in Selenium WebDriver:',
 'Step 1) Try-catch',
 'This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.',
 'Step 2) Multiple catch blocks',
 'There are various types of Exceptions, and you can expect more than one exception from a single block of code. Multiple catches help you to handle every type of Exception separately with a separate block of code. It can be used for more than two catch blocks, and there is no limitation on the number of catch blocks.',
 'Step 3) Throw',
 'When you want to generate an Exception, the Throw keyword is used to throw Exception to handle it in the run time. When you are throwing an Exception without handling it, then they need to use Throw keyword.',
 'Step 4) Multiple Exceptions',
 'You can mention various Exceptions in the throws clause.',
 'Step 5) Finally',
 'The Final keyword is used to create a block of code under the try block. It is the final code that helps you to executes irrespective of the occurrence of an exception',
 'You can also use the following methods to display Exception Information:',
 '',
 '',
 '© Copyright - Guru99 2022         Privacy Policy  |  Affiliate Disclaimer  |  ToS']

In [44]:
data[2:43]

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 '3. NoSuchElementException: This Exception occurs if an element could not be found.',
 '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.',
 '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.',
 '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.',
 '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.',
 '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.',
 '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.',
 '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.',
 '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.',
 '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.',
 '17. ImeNotAvailableException: It takes place when IME support is unavailable.',
 '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.',
 '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.',
 '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.',
 '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.',
 '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.',
 '25. JavascriptException: This issue occurs while executing JavaScript given by the user.',
 '26. JsonException: It occurs when you afford to get the session when the session is not created.',
 '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.',
 '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 '29. NoSuchContextException: ContextAware does mobile device testing.',
 '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 '33. ScreenshotException: It is not possible to capture a screen.',
 '34. SessionNotCreatedException: It happens when a new session could not be successfully created.',
 '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.',
 '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.',
 '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.',
 '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [49]:
name=[]
for i in data[2:43]:
    name.append(i.split(':')[0])

In [51]:
description=[]
for i in data[2:43]:
    description.append(i.split(':')[1])

In [52]:
len(name),len(description)

(41, 41)

In [53]:
df_guru = pd.DataFrame({'Exeption':name,
                       'Description':description})
df_guru

,Exeption,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

### 4- Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/ You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP at current price (19-20)
#### D) GSDP at current price (18-19)
#### E) Share(18-19)
#### F) GDP($ billion)

In [57]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'http://statisticstimes.com/'
driver.get(url)

In [59]:
#serch button click
Economy_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
Economy_button.click()

In [60]:
#serch button click
India_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India_button.click()

In [61]:
#serch button click
India_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
India_button.click()

In [62]:
#extract the tag having rank
rank = driver.find_elements(By.XPATH,"//td[@class='data1']")
#to remove extra data other than output we required
Rank = []
for i in rank:
    Rank.append(i.text)

#extract the tag having state
state = driver.find_elements(By.XPATH,"//td[@class='name']")
#to remove extra data other than output we required
State = []
for i in state:
    State.append(i.text)

#extract the tag having GSPD_Current
current = driver.find_elements(By.XPATH,"//td[@class='data']")
#to remove extra data other than output we required
GSPD_Current = []
for i in current:
    GSPD_Current.append(i.text)
    
GDPS_19_20 = []
for i in GSPD_Current[0: :5]:
    GDPS_19_20.append(i)

#extract the tag 
current_18_19 = driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
#to remove extra data other than output we required
GSPD_18_19 = []
for i in current_18_19:
    GSPD_18_19.append(i.text)

# extracg the data of share
Share_19_20 = []
for i in GSPD_Current[1: :5]:
    Share_19_20.append(i)

# extracg the data of GDP in Billions
GDP = []
for i in GSPD_Current[2: :5]:
    GDP.append(i)

In [63]:
# Make data frame of GDP from statisticstimes.com
GDP_INDIA = pd.DataFrame({})
GDP_INDIA['RANK']= Rank[0:33]
GDP_INDIA['STATE']= State[0:33]
GDP_INDIA['GSDP (18-19)'] = GDPS_19_20[0:33]
GDP_INDIA['GSDP (18-19)'] = GSPD_18_19[0:33] 
GDP_INDIA['SHARE (19-20)'] = Share_19_20[0:33]
GDP_INDIA['GDP'] = GDP[0:33] 
GDP_INDIA.head(10)

  RANK           STATE GSDP (18-19) SHARE (19-20)      GDP
0    1     Maharashtra    2,632,792        13.94%  399.921
1    2      Tamil Nadu    1,630,208         8.63%  247.629
2    3   Uttar Pradesh    1,584,764         8.39%  240.726
3    4         Gujarat    1,502,899         7.96%  228.290
4    5       Karnataka    1,493,127         7.91%  226.806
5    6     West Bengal    1,089,898         5.77%  165.556
6    7       Rajasthan      942,586         4.99%  143.179
7    8  Andhra Pradesh      862,957         4.57%  131.083
8    9       Telangana      861,031         4.56%  130.791
9   10  Madhya Pradesh      809,592         4.29%  122.977

### 5. Scrape the details of trending repositories on Github.com.Url = https://github.com/
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used

In [44]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = ' https://github.com/'
driver.get(url)

In [45]:
#menu button click
menu_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[2]")
menu_button.click()

In [48]:
# list button click
list_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
list_button.click()

In [49]:
# trending option
ternding_opt = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
ternding_opt.click()

In [7]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.billboard.com/'
driver.get(url)
#the url will open

In [8]:
#menu button click
menu_button = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
menu_button.click()

In [9]:
# chart button click
chart_button = driver.find_element(By.XPATH,"/html/body/div[3]/div[8]/div/div/div/ul/li[1]/h3/a")
chart_button.click()

In [10]:
# top 100 chart button 
top_button = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
top_button.click()

In [22]:
s_data2 = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
song_data2 = []
for i in s_data2:
    song_data2.append(i.text)
    
len(song_data2)

100

In [23]:
song_data2[0:5]

['Anti-Hero\nTaylor Swift\n1\n1\n6',
 'All I Want For Christmas Is You\nMariah Carey\n5\n1\n54',
 "Rockin' Around The Christmas Tree\nBrenda Lee\n6\n2\n48",
 'Unholy\nSam Smith & Kim Petras\n3\n1\n10',
 'Jingle Bell Rock\nBobby Helms\n9\n3\n45']

In [26]:
song_name = []
song_artist = []
last_week_rank = []
peak_rank = []
week_bord = []

for i in song_data2:
#     song name
    song_name.append(i.split("\n")[0])
#     song artist
    song_artist.append(i.split("\n")[1])
#     last week rank
    last_week_rank.append(i.split("\n")[2])
#     peak rank
    peak_rank.append(i.split("\n")[3])
#     week on board
    week_bord.append(i.split("\n")[4])
    
len(song_name),len(song_artist),len(last_week_rank),len(peak_rank),len(week_bord)

(100, 100, 100, 100, 100)

In [29]:
top_100_df = pd.DataFrame({'song name':song_name,
                         'song artist':song_artist,
                         'last week rank':last_week_rank,
                         'peak rank':peak_rank,
                         'week on board':week_bord})

top_100_df.head()

,song name,song artist,last week rank,peak rank,week on board
0,Anti-Hero,Taylor Swift,1,1,6
1,All I Want For Christmas Is You,Mariah Carey,5,1,54
2,Rockin' Around The Christmas Tree,Brenda Lee,6,2,48
3,Unholy,Sam Smith & Kim Petras,3,1,10
4,Jingle Bell Rock,Bobby Helms,9,3,45

In [30]:
driver.close()

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [2]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.naukri.com/'
driver.get(url)

In [3]:
#inspect for Skill,Designations,Companies field
ds_search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
#this will write text on search bar
ds_search.send_keys('Data science')

In [4]:
#serch button click
search_button = driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search_button.click()

In [5]:
job_title = []
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
    
len(job_title)

20

In [6]:
company_name = []
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
    
len(company_name)

20

In [7]:
location = []
for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]'):
    location.append(i.text)
    
len(location)

20

In [12]:
skill = []
for i in driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]'):
    skill.append(i.text.replace('\n',','))
    
len(skill)

20

In [13]:
skill[0]

'SAS,data science,Analytical,Machine learning,Predictive modeling,Business strategy,Forecasting,Predictive analytics'

In [14]:
naukari_df = pd.DataFrame({"Name":job_title,
                          "Company name":company_name,
                          "loaction":location,
                          "Skill":skill})

naukari_df.head()

,Name,Company name,loaction,Skill
0,Analyst-Data Science,AMERICAN EXPRESS,Gurgaon/Gurugram,"SAS,data science,Analytical,Machine learning,P..."
1,Data Scientist - Data Science,Bristlecone,Mumbai,"Procurement,Supply chain,SAN,Automation,Inform..."
2,Sr. Manager - Data Science,AMERICAN EXPRESS,Gurgaon/Gurugram,"Automation,Finance,Artificial Intelligence,Mac..."
3,Senior Analyst-Data Science,Accenture,Mumbai,"Publishing,Artificial Intelligence,Consulting,..."
4,Paytm - Data Science - Lead,Paytm,"Noida, Mumbai, Bangalore/Bengaluru","Change management,SAS,Data modeling,Bfsi,Manag..."

In [15]:
driver.close()

## 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [16]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [27]:
#extract the tag having rank
rank_data = driver.find_elements(By.XPATH,"//td[@class='left']")
#to remove extra data other than output we required
Book_Name = []
for i in rank_data:
    Book_Name.append(i.text)
BOOK_NAME = []
for i in Book_Name[1: :5]:
    BOOK_NAME.append(i)

Auther_Name = []
for i in rank_data[2: :5]:
    Auther_Name.append(i.text)

Volume_sold = []
for i in rank_data[3: :5]:
    Volume_sold.append(i.text)

Publisher = []
for i in rank_data[4: :5]:
    Publisher.append(i.text)

#extract the tag having rank
genre = driver.find_elements(By.XPATH,"//td[@class='last left']")
#to remove extra data other than output we required
Genre = []
for i in genre:
    Genre.append(i.text)

In [28]:
novels = pd.DataFrame({})
novels['BOOK_NAME']= BOOK_NAME
novels['Auther_Name'] = Auther_Name
novels['Volume_sold'] = Volume_sold 
novels['Publisher'] = Publisher
novels['Genre'] = Genre 
novels.head()

,BOOK_NAME,Auther_Name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

In [29]:
driver.close()

### 9- . Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [30]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [32]:
name = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a")
Name=[]
for i in name:
    Name.append(i.text)

year = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
Year_Span=[]
for i in year:
    Year_Span.append(i.text)

genre = driver.find_elements(By.XPATH,"//span[@class='genre']")
Genre=[]
for i in genre:
    Genre.append(i.text)

run = driver.find_elements(By.XPATH,"//span[@class='runtime']")
Run_Time=[]
for i in run:
    Run_Time.append(i.text)

ratings = driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

voting = driver.find_elements(By.XPATH,"//span[@name='nv']")
Voting=[]
for i in voting:
    Voting.append(i.text)

In [33]:
TV_Series = pd.DataFrame({})
TV_Series['NAME']= Name
TV_Series['Year Span'] = Year_Span
TV_Series['Genre'] = Genre 
TV_Series['Run Time'] = Run_Time
TV_Series['Ratings'] = Ratings 
TV_Series['Voting'] = Voting 
TV_Series.head()

,NAME,Year Span,Genre,Run Time,Ratings,Voting
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,091,090"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,180,556"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"989,523"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,972"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,133"

In [34]:
driver.close()

### 10-  Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year

In [35]:
#connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

#Get url in web driver first
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [39]:
view_all=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute("href")
print(view_all)
driver.get(view_all)

https://archive.ics.uci.edu/ml/datasets.php

In [40]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
number_of_attributes=[]
number_of_instances=[]
year=[]

#dataset name
for names in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a"):
    dataset_name.append(names.text)
#data type
for dtype in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p"):
    data_type.append(dtype.text)
#task
for t in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]"):
    task.append(t.text)
#type of attribute    
for attribute in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p"):
    attribute_type.append(attribute.text)
#number of attributes
for attribute_count in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]"):
    number_of_attributes.append(attribute_count.text)
#number_of_instances
for instances in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]"):
    number_of_instances.append(instances.text)
#year
for y in driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]"):
    year.append(y.text)

print(dataset_name[0:2])
print(data_type[0:2])
print(task[0:2])
print(attribute_type[0:2])
print(number_of_attributes[0:2])
print(number_of_instances[0:2])
print(year[0:2])

['Abalone', 'Adult']
['Data Types', 'Multivariate ']
['Default Task', 'Classification ']
['Attribute Types', 'Categorical, Integer, Real ']
['# Attributes', '8 ']
['# Instances', '4177 ']
['Year', '1995 ']

In [41]:
print(len(dataset_name))
print(len(data_type))
print(len(task))
print(len(attribute_type))
print(len(number_of_attributes))
print(len(number_of_instances))
print(len(year))

622
623
623
623
623
623
623

In [42]:
df=pd.DataFrame({})
df["Dataset Name"]=dataset_name
df["Data Type"]=data_type[1:] #slicing list at 1 as it includes the heading of column
df["Task"]=task[1:]
df["Attribute type"]=attribute_type[1:]
df["No of instances"]=number_of_instances[1:]
df["No of attribute"]=number_of_attributes[1:]
df["Year"]=year[1:]
df.head()

,Dataset Name,Data Type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998

In [43]:
driver.close()